<h1>Expense Tracker</h1>

<form id="new_expense">
  <label for="new_expense_title">Title</label>	
  <input type="text" name="title" id="new_expense_title">

  <label for="new_expense_amount">Amount</label>
  <input type="text" name="amount" id="new_expense_amount">

  <label for="new_expense_category">Category</label>
  <input type="text" name="category" id="new_expense_category">

  <label for="new_expense_date">Date</label>
  <input type="date" name="expenseDate" id="new_expense_date">
  
  <input type="submit" value="Add">
</form>

<ul id="expenses-list"></ul>